body{
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto',arial;
    display:flex;
    flex-direction:column;
    height: 100%;
}
body label{
    color: #373867;
    font-weight: bold; 
}
header{
    width: 100%;
    height: 130px;
    background-color: #A4A4A4;
    margin-top: 0;
}
h1{
    padding-top: 35px;
    font-size: 50px;
    padding-left: 20px;
    font-style: italic;
}

.mainform{
    width: 100%;
    height: 500px;
    background-color: #fff;
}
h2{
    padding-top: 40px;
    margin: 0px 0px 0px 0px;
    height: 100px;
    font-size: 50px;
    color: #373867;
    /*font-style: italic;*/
    padding-left: 615px; 
}
.name-area{
    display: flex;
    flex-direction: column;
    width: 683px;
    margin-left: 615px;
    
}
.name-area input[type=text]{
    border-radius: 3px;
    height: 30px;
    border: 0px;
    border: 1px solid #373867
}
.mainform{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    margin-left: 540px;
}
.column1{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.column1 label{
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 75px;
}
.column2 label{
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 75px;    
}
.main-container input[type=password], .main-container input[type=number], .main-container input[type=tel], .main-container input[type=date], .main-container input[type=email], .main-container input[type=text]{
    width: 300px;
    border-radius: 3px;
    height: 30px;
    margin: 1px 0px 0px 75px;
    border: 0px;
    background-color: white;
    border: 1px solid #373867
}
.column2{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.sign-up-button{
    width: 240px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #AACE9B;
    color: #373867;
    
}
.signup-button{
    margin:50px 0px 0px 830px;
}
footer{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115px;
    background-color: #373867;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 10px solid #AACE9B;
    align-items: center;
    margin-top: 50px;
}
h3{
    padding: 10px;
}
@media screen and (max-width: 390px){
    header{
        display: none;
    }
    h2 {
        padding: 10px 0px 20px 30px;
        margin: 0px 0px 0px 0px;
        height: 40px;
        font-size: 50px;
        color: #373867;
        font-style: normal;
        border-bottom:5px solid #AACE9B;
    }
    .mainform{
        width: 390px;
        background-color: #fff;
    }
    .name-area {
        display: flex;
        flex-direction: column;
        width: 330px;
        margin-left: 0px;
        padding: 40px 30px 0px 30px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 390px;
    }
    .signup-button {
        margin: 0px 0px 0px 0px;
    }
    footer{
        display: none;
    }
    .column1{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .main-container input[type=password], .main-container input[type=number], .main-container input[type=tel], .main-container input[type=date], .main-container input[type=email], .main-container input[type=text]{
        width: 330px;
        border-radius: 3px;
        height: 30px;
        margin-left: 30px;
        padding: 0px 0px 0px 0px;
        background-color: #EBEBF0;
        
    }
    .main-container label{
        margin-left: 30px;
    }
    .signup-button {
        margin: 30px 0px 50px 60px;
        padding: 10px 10px 50px 10px;
    }
    .name-area input[type=text]{
        background-color: #EBEBF0;
    }

}