<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="martinlotufo93@gmail.com">
        <title>"Trackgenix S.A."</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/header.css">

    </head>

    <body>

        <aside>
            <div class="search-bar">
                <input class="search-button" type="text" placeholder="Search" /> 
            </div>
            
            <div class="menu">
                <a href="#"><i class="menu-link"></i>Menu</a>
                <div class="green-line-2"></div>
            </div>
            <div class="home-menu">
                <div class="homes">
                    <a href="#"><i class="home"></i>Home</a>
                    <div class="greyline"></div>
                </div>
                <div class="sign-up">
                    <a href="../views/sign-up.html"><i class="signup"></i>Sign Up</a>
                    <div class="greyline"></div>
                </div>
                <div class="log-in">
                    <a href="../views/login.html"><i class="login"></i>Log In</a>
                    <div class="greyline"></div>
                </div>
            </div>

            <div class="getintouch">
                <a href="#"><i class="get-in-touch"></i>Get in touch</a>
                <div class="green-line-3"></div>
            </div>
            
            <p class="textside">
                Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            </p>
            
            <div class="contact">
                <div class="contacts">
                    <img class="envelope" src="../assets/images/envelope.png">
                    <a title="Mail" href="*"><p>information@untitled.tld</p></a>
                </div>
                <div class="contacts">
                    <img class="home-icon" src="../assets/images/home-icon.png">
                    <a title="Maps" href="*"><p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p></a> 
                </div>
                <div class="contacts">
                    <img class="phone-icon" src="../assets/images/phone-icon.png">
                    <a title="Phone" href="*"><p>(000) 000-0000</p></a>
                </div>
            </div>
        </aside>

        <div id="container">
        <header>
            <div class="header-left">
                <img class="three-bars" src="../assets/images/three-bars.png" />
            </div>
            <div class="header-right">   
                <a href="../views/index.html"><i class="track-h1"></i>Trackgenix S.A.</a>
                <div class="green-line"></div>
            </div>    
        </header>
        <main>
            <section class="section-1">
                <div id="s1top">
                    <h1>Welcome to Trackgenix!</h1>
                </div>
                <div id="s2middle">
                    <div class="s1h2">
                        <h2>A free website for everyone at Trackgenix!</h2>
                    </div>
                    <div class="s1img">   
                        <img  class= "main-image" src="../assets/images/main-image.png" />
                    </div>
                </div>    
                <p>
                    Here, you can register the hours worked in any project for all employees, generate reports and much more.
                </p>
                <div id="s1button">
                    <button class= "button-1" name="button-1">Learn more</button>
                </div>      
            </section>
            <section class="section-2">
                <h2>What can you do?</h2>
                <div class="green-line4"></div>
                <div class="can-do">
                    <div class="record-hours">
                        <div class="son1">
                        <img class="img1" src="../assets/images/tree.png" height="100"></div>
                       <div class="son2"><h3>Records hours</h3>
                        <p>
                            Create, modify and delete projects and assign them to any employee/s.
                        </p></div>
                    </div>
                    <div class="generate-reports"><div class="son1">
                        <img class="img2" src="../assets/images/papper.png" height="100"></div>
                        <div class="son2"><h3>Generate reports</h3>
                        <p>
                            Emit reports to have a better view and understanding of all the projects. 
                        </p>
                    </div></div>
                    <div class="manage-resources"><div class="son1">
                        <img class="img3" src="../assets/images/tools.png" height="100"></div>
                        <div class="son2"><h3>Manage resources</h3>
                            <p>
                                You will be able to see all the information you need to organize hours of work in the best way possible. 
                            </p>
                    </div></div>
                    <div class="designate-roles"><div class="son1">
                        <img class="img4" src="../assets/images/head.png" height="100"></div>
                        <div class="son2"><h3>Designate roles</h3><p>
                            Establish which employee may have the title of “Project manager”. 
                        </p></div>
                        
                </div></div>
            </section>
            <section class="section-3">
                <div>
                    <h2>Why use Trackgenix?</h2>
                    <div class="green-line4"></div>
                </div>
                <div>
                    <ul>
                        <li><span class="check">&#10003;</span> Increase your productivity</li>
                        <li><span class="check">&#10003;</span> Track your work</li>
                        <li><span class="check">&#10003;</span> Leadership and team management</li>
                        <li><span class="check">&#10003;</span> Company decisions</li>
                    </ul>
                </div>
            </section>
            <section class="section-4">
                <div>
                    <h2>Contact Form</h2>
                    <div class="green-line8"></div>
                </div>
                    <form action="process.php" method="POST" class="mainform">
                        <div class="bussines">
                            <label>Bussines name</label><br />
                            <input type="text" class="input-size" name="bussines-name">
                        </div>
                        <div class="email-area">
                            <label>Email</label><br />
                            <input type="email" class="input-size" name="email">
                        </div>
                
                        <div class="contact-area">
                            <h3>Contact area</h3>
                            <p><input type="radio" name="human-resources" value="human-resources"></input>Human resources</p>
                            <p><input type="radio" name="commercialization" value="commercialization"></input>Commercialization</p>
                            <p><input type="radio" name="systems" value="systems"></input>Systems</p>       
                        </div>
                        <div class="phone-number">
                            <label>Phone number</label><br />
                            <input type="text" class="input-size" name="phone-number">
                        </div>
                
                        <div class="form-message">
                            <label>Message</label><br />
                            <textarea name="message"></textarea>
                        </div>
                        <div class="submit-bottom">
                            <input type="submit" class="input-size" name="submit" value="Submit">
                        </div>
                    </form>
            </section>
            <section class="section-5">
                <div class="history">
                    <h2>Trackgenix History</h2>
                    <div class="green-line5"></div>
                    <p>Trackgenix was founded on April 1, 2014, by college dropouts James Bond and Steve Pitt, who brought to the new company a vision of changing the way people viewed computers. </p>
                </div>
                <div class="objetive">
                    <h2>Objetive</h2>
                    <p>Providing the right solutions and getting products into customers' hands with the support of store team members</p>
                </div>
            </section>
            <section class="section-6">
                <div class="column1">
                    <h3>Products</h3>
                    <div class="green-line7"></div>
                    <ol>
                        <li> Functionalities</li>
                        <li> Downloads</li>
                        <li> Integrations</li>
                        <li> Integrations</li>
                    </ol>
                </div>
                <div class="column2">
                    <h3>Business</h3>
                    <div class="green-line7"></div>
                    <ol>
                        <li> About us</li>
                        <li> Clients</li>
                        <li> Resources</li>
                        <li> Blog</li>
                    </ol>
                </div>
                <div class="column3">
                    <h3>Support</h3>
                    <div class="green-line7"></div>
                    <ol>
                        <li> Help</li>
                        <li>Tutorials</li>
                        <li> API</li>
                        <li> Contact</li>
                    </ol>
                </div>
            </section>
            <footer>
                <div class="green-line6"></div>
                <h5>
                    Rosario, Argentina
                </h5>

                <div class="networks">
                    <a title="Linkedin" href="*"><img src="../assets/images/linkedin.svg" height="30"></a>
                    <a title="Instagram" href="*"><img src="../assets/images/instagram.svg" height="30"></a>
                    <a title="Facebook" href="*"><img src="../assets/images/facebook.svg" height="30"></a>
                    <a title="Twitter" href="*"><img src="../assets/images/twitter.svg" height="30"></a>
                </div>
                
                <h4>
                    Copyright © 2022 Radium Rocket.  All rights reserved
                </h4>
            </footer>
        </main>
    </div>
        
    </body>
</html>
