
    body{
        font-family: 'Roboto',arial;
    }
    header{
        display: flex;
        width: 80%;
        height: 12%;
        position: fixed;
        left: 20%;
        top: 0;
        align-items: center;
        background-color: rgb(179, 96, 96);
    } 
    .sidebar{
        display: flex;
        flex-direction: column;
        background: #F6F6F6;
        height: 100%;
        width: 20%;
        border-right:2px solid #000;
        position:fixed;
		top:0;
		left:0;
    }
    .landing{
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-top: 7%;
        background: rgb(89, 0, 255);
        margin-left: 20%;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(255, 0, 119);
        height: 7%;
        width: 80%;
        bottom: 0%;
        align-items: center;
        position: fixed;
        border-left: 3px solid #000;
    }
    #main-title{
        margin-bottom: 10px;
    }
    .main-header{
        display: flex;
        flex-direction: column;
        flex-grow:4;flex-basis:0;
        margin-top: 55px;
        margin-left: 10px;
        font-size: 40px;
    }
    .green-line-1{
        width: 90%;
        height: 3px;
		border-top:3px solid #AACE9B;
    }
    /*header img{
        width: 48px;
        height: 48px;
    }*/
	.menuboton{
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 36px;
        padding: 10px;
        border-radius: 7px;
        background: #fff;
        color: #AACE9B;
        cursor: pointer;
        position: relative;
        margin-top: -40px;
        margin-left: 40px;
    }

    .menuboton span{
        display: block;
        width: 40px;
        height: 4px;
        background: #AACE9B;
        margin-top: 6px;
        border-radius: 10px;
    }
    label{
        cursor: pointer;
    }
    #menu-toggle{
        display: none;
    }
    #menu-mobile{display: none;
        position: fixed;
        top: 7em;
        left: 29px;
        width: 100%;
        min-height: 100%;
        background: rgba(255,255,255,0.95);
        color: black;
        text-align: center;
    }
    #menu-mobile li a{
        display: block;
        padding: 10px 0;
        color: black;
    }
    #menu-toggle:checked + #menu-mobile{
    display: block;
    }
    .bars-icon{
        flex-grow: 0.3;
        flex-basis: 0 height: 50px;
        width: 0px;
        margin-left: 0px;
        margin-top: 0px;
        padding-right: 0px;
    }
    .search-bar{
        padding-top: 8%;
        height: 12%;
        position: relative;
        text-align: center;
    }
    .search-button{
        position: relative;
        top: 0;
        height: 38px;
        width: 215px;
        padding-left: 57px;
        border-radius: 7px;
    }
    .search-icon {
        position: absolute;
        width: 30px;
        left: 17%;
        top: 25%;
        z-index: 2;
    }
    .menu{
        height: 11%;
        display: flex;
        flex-direction: column;
    }
    .menu a{
        text-decoration: none;
        position: absolute;
        margin-top: 30px;
        margin-left: 50px;
        color: black;
        font-size: 30px;
    }
    .green-line-2 {
        position: relative;
        height: 5px;
        width: 85px;
        background-color: #AACE9B;
        top: 70px;
        margin-left: 50px;
    }
    .home-menu{
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .home-menu a{
        text-decoration: none;
        color: #545454;
    }
    .getintouch{
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 30px;
    }
    .getintouch a{
        color: #000;
        text-decoration: none;
        margin-left: 50px;
        margin-top: 28px;
    }   
    .green-line-3{
        height: 5px;
        width: 200px;
        background-color: #AACE9B;
        margin-left: 50px;
        margin-top: -5px;
    }
    .greyline{
        width: 200px;
        margin-top: 1%;
        height: 1px;
        background-color: #545454;
    }
    .homes, .sign-up, .log-in {
        font-size: 20px;
        margin-left: 50px;
    }
    .textside{
        height: 20%;
        padding: 5% 15% 0% 12%;
        font-size: 20px;
        color: #545454
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20%;
        padding: 0% 5% 0% 12%;
    }
    .contacts{
        display: flex;
        align-items: center;
    }
    .contact a{
        text-decoration: none;
        color: #545454;
    }
    .section-1 {
        height: 500px;
        width: 100%;
        background-color: coral;
        display: flex;
        
    }
    #s1left{
        height: 100%;
    	width: 50%;
	    padding: 10px;
        background: #fff;
    }
    #s1right{
        height: 100%;
    	width: 50%;
	    padding: 10px;
        background: #fff;
    }  
    



/*@media(max-width: 480px){    
   
}
    