    body{
        width: 100%;
        background-color: aqua;
        font-family: 'Roboto',arial;
        background-color: #fff;
        display:flex;
        flex-direction:row;
    }

    #container{
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        flex-grow:4;
        height:100%;
        flex-basis:0;
    }

    aside {
        display:none;
    }

    header {
        background-color: #fff;
        height: 100px;
        width: 100%;
        display: flex;
        position: fixed;
        border-bottom: 3px solid #AACE9B;
        flex-direction: row;
        align-items: center;
    }
    header img{
        height:50px;
    }
    .header-left{
        min-width: 70px;
        text-align:center;
    }
    .header-right{
        flex-grow:3;
    }
    header .track {
        font-size: 44px;
        font-weight: bold;
        color: #373867;
    }
   
    main{
        display: flex;
        flex-direction: column;
        overflow-y:scroll;
        padding: 0 10px;
    }

    .section-1 {
        width: 100%;
        flex-direction: row;
    }

    #s1top{
        width: 100%;
        margin-top: 125px;
        margin-bottom: 10%;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: #373867;
    }

    #s2middle{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .s1img{
        flex-grow: 2;
        flex-basis: 0;
        padding-right: 40px;
    }

    .s1img img{
        width: 100%;
    }
    
    .s1h2 {
        flex-grow: 3;
        flex-basis: 0;
        font-size: 25px;
        padding: 5% 0% 5% 5%;
    }
    .section-1 p {
        font-size: 20px;
        font-style: italic;
        margin-top: 5%;
        padding: 0% 5% 0% 5%;
    }
    #s1button{
        margin: 5px;
        padding: 5px;
    }
    .button-1 {
    background-color: #AACE9B;
    border-radius: 5px;
    color: rgb(68, 67, 67);
    margin: 5% 5% 5% 2%;
    padding: 5%;
}


    }
    .section-2{
        display: flex;
        flex-direction: column;
        margin: 3% 3% 6% 3%;
        
    }
    .section-2 h2{
        font-size: 30px;
    }
    .green-line4{
        height: 3px;
        width: 80%;
        background-color: #AACE9B;
        margin-left: 0px;
    }
    .green-line8{
        border-top: 3px;
        height: 3px;
        width: 50%;
        background-color: #AACE9B;
        margin-left: 3%;
    }
    .can-do{
        display: flex;
        flex-direction: column;
    }
    .record-hours,.generate-reports,.manage-resources,.designate-roles {
        flex-grow:1;
        flex-basis:0;
        text-align:center;
    }
    .son1,.son2 {
        margin-top:10px;
        margin-bottom:10px
    }

    .can-do h3{
        font-size: 30px;
    }
    .can-do p{
        font-size: 25px;
    }
    .section-3{
        padding: 10% 3% 10% 3%;
        display: flex;
        flex-direction: column;
    }
    .section-3 h2{
        font-size: 30px;
    }
    .section-3 ul{
        font-size: 20px;
    }
    .section-3 li{
        padding: 5% 0% 5% 0%;
    }
    .section-4 h2{
        margin-left: 2%;
        font-size: 30px;
    }
    .mainform {
        border:2px solid #9E9E9E; 
        background: #D9E0D6;
        margin:10px;
        padding:10px;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .mainform input[type=text],.mainform input[type=email],.mainform textarea {
        width:90%;
        border-radius:3px;
        height:25px;
        margin: 10px;
        border: 0;
    }
    .mainform textarea {
        height: 75px;
        width: 95%;
    }
    .bussines,.email-area,.contact-area,.phone-number,.form-message{
        flex-grow: 1;
        flex-basis: 0;
    }

    .mainform input[type=submit] {
        background-color: #AACE9B;
        font-family: 'Roboto',arial;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 5px;
        color: rgb(68, 67, 67);
    }
    .submit-bottom{
        text-align: center;
        width: 100%;
    }
    .section-5{
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 10px;
    }
    .section-5 h2{
        font-size: 30px;
        margin: 10% 3% 2% 0%;
    }
    .section-5 p{
        margin: 2% 0% 2% 0%;
        padding: 0%;
        font-size: 20px;
    }
    .green-line5{
        height: 3px;
        width: 260px;
        background-color: #AACE9B;
        margin-left: 0px;
    }
    .green-line6{
        height: 3px;
        width: 120px;
        background-color: #AACE9B;
        margin-left: 0px;
    }
    .green-line7{
        height: 3px;
        width: 130px;
        background-color: #AACE9B;
        margin-left: 0px;
    }
    .section-6{
        margin: 10px 10px 65px 10px;
    }
    .section-6 h3{
        margin-top: 10px;
        font-size: 30px;
    }
    .section-6 ol{
        font-size: 20px;
        margin-left: 25px;
        list-style: decimal;
    }
    .section-6 li{
        padding-top:5px;
        padding-bottom:5px ;
    }

    .history, .objetive{
        flex-grow:1;
        flex-basis: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        bottom: 0%;
        align-items: center;
        background: white;
    }
@media (min-width:768px){

    .can-do{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .record-hours,.generate-reports,.manage-resources,.designate-roles {
        min-width:49%
    }
    header .track{
        margin-left: 20%;
    }
    #s1top{
        width: 100%;
        margin-top: 20%;
        font-size: 60px;
    }
    .s1h2 {
        flex-grow: 3;
        flex-basis: 0;
        font-size: 45px;
        padding: 4% 0% 5% 10%;
    }
    .section-1 p {
        font-size: 25px;
        font-style: italic;
        margin-top: 5%;
        padding: 3% 5% 0% 5%;
        text-align: center;
    }
    #s1button {
        text-align: center;
    }
    .button-1 {
        background-color: #AACE9B;
        border-radius: 5px;
        color: rgb(68, 67, 67);
        margin: 5% 5% 5% 2%;
        padding: 1% 7%;
        font-size: 28px;
    }
    .green-line4 {
        margin-bottom: 5%;
    }

}  

@media (min-width:920px){
    aside {
        display:block;
        height:100%;
        width: 30%;
        flex-grow:1;
        background-color: #F6F6F6;
        border-right: 3px solid #000;
        overflow: hidden;
        flex-basis:0;
    }
    .search-bar {
        padding-top: 8%;
        height: 12%;
        text-align: center;

    }
    .search-button {
        height: 38px;
        width: 215px;
        padding-left: 57px;
        border-radius: 7px;
        background-image: url("images/search-icon.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu a {
        text-decoration: none;
        margin-top: 6%;
        margin-left: 11%;
        color: black;
        font-size: 30px;
    }
    .green-line-2 {
        height: 5px;
        width: 25%;
        background-color: #AACE9B;
        margin-left: 11%;
        margin-top: 5%;
    }
    .home-menu {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0% 10% 0% 11%;
    }
    .home-menu a{
        text-decoration: none;
        color: #545454;
    }
    .greyline{
        width: 90%;
        margin-top: 1%;
        height: 1px;
        background-color: #545454;
    }
    .getintouch {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 30px;
    }
    .getintouch a {
        color: #000;
        text-decoration: none;
        margin-left: 11%;
        margin-top: 11%;
    }
    .green-line-3 {
        height: 5px;
        width: 200px;
        background-color: #AACE9B;
        margin-left: 11%;
        margin-top: 5%;
    }
    .textside {
        height: 20%;
        padding: 5% 15% 0% 12%;
        font-size: 20px;
        color: #545454;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20%;
        padding: 0% 5% 0% 12%;
    }
    .contacts{
        display: flex;
        align-items: center;
    }

    .contacts img{
        padding-right:5px;
    }
    
    .contact a{
        text-decoration: none;
        color: #545454;
    }

    .record-hours,.generate-reports,.manage-resources,.designate-roles{
        display:flex;
        flex-direction:row;
        text-align: left;
    }

    .son1{
        width: 150px;
        height: 150px;
    }
    .son2{
        flex-grow:4;
        flex-basis:0;
    }

    footer{
        position: sticky;
    }

    .mainform{
        flex-direction: row;
    }

    .bussines,.email-area,.contact-area,.phone-number,.form-message{
        min-width: 40%;
    }

    .column1,.column2,.column3{
        flex-grow:1;
    }

    .section-6{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }

    .section-5{
        flex-direction: row;
    }
    header .track{
        font-size: 40px;
        font-weight: normal;
        margin-left: 1%;
        color: #000;
    }
    .green-line {
        background-color: #AACE9B;
        margin-left: 1%;
        width: 70%;
        border: 2px #AACE9B solid;
    }
    .header-right{
        padding-top: 4%;
    }
    header{
        border-bottom: 3px solid #fff

    }
    #s1top {
        font-size: 30px;
        text-align: left;
        font-weight: bold;
        color: #000;
        margin-top: 15%;
    }
    #s1top h1 {
        font-size: 87px;
        padding-right: 35%;
        margin-left: 5%;
    }
    #s2middle {
        margin-top: -10%;
    }
    .s1h2 {
        flex-grow: 3;
        flex-basis: 0;
        font-size: 50px;
        padding: 5% 0% 5% 0%;
        margin: 5% 5% 5% 5%;
        text-align: left;
    }
    .s1img img {
        margin-left: -20%;
    }
    .section-1 p {
        font-size: 30px;
        font-style: italic;
        margin-top: 5%;
        padding: 0% 50% 0% 5%;
        text-align: left;
        color: #A4A4A4;
    }
    #s1button {
        text-align: left;
    }
    .button-1 {
        padding: 1% 1%;
    }
    .section-2{
        padding: 3%
    }
    .section-3 {
        padding: 5% 3% 0% 3%;
        display: flex;
        flex-direction: column;
    }
    .section-3 li {
        padding: 0% 0% 5% 0%;
    }
    .section-4{
        margin: 3% 5%;
    }
    .section-5{
        margin: 3%;
    }
    .objetive,.history{
        padding: 0%;
        margin: 0% 10%
    }
    .section-6{
        margin: 5% 1% 1% 15%;
    }
    
}