<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="martinlotufo93@gmail.com">
        <title>"Trackgenix S.A."</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/login.css">
		<script src="../javascript/login.js"></script>
        <!--<link rel="stylesheet" href="../styles/footer.css">-->
    </head>
    <body>
        <header>
            <h1>Trackgenix S.A.</h1>
        </header>
        <div class="main-box">
            <div class="signin">
                <h2>Log In</h2>
            </div>
            <h3 class="welcome">Welcome to Trackgenix!</h3>    
            <form onsubmit = "return login()" class="mainform">
                <div class="camps">
                    <label>Email</label>
                    <input type="text" name="email" id="email" class="input-size" onblur="CheckMail()">
                    <div id="message-error-email"></div>
                    <label>Password</label>
                    <input type="password" class="input-size" name="password" id="password" onblur="CheckPassword()">
                    <div id="message-error-password"></div>
                </div>
                <div class="maindiv">
                    <label class="cbx1"><input type="checkbox" class="cbx11" value="checkbox"> Remember me</label>
                    <a href="#"><i class="forgot-password"></i>Forgot password?</a>
                </div>
                
                <div class="continue-button">
                    <button class= "continue-button-box" name="continue-button">Log In</button>
                </div>
            </form>
        </div>
        <div class="responsive-options">
            <div class="forgot-responsive">
                <a href="#"><i class="forgot-responsive"></i>Forgot password?</a>
            </div>
            <div class="sign-up">
                <a href="#"><i class="sign-up"></i>Sign Up</a>
            </div>
        </div>
        <footer>
            <h3>
                Rosario, Argentina
            </h3>

            <div class="networks">
                <a title="Linkedin" href="*"><img src="../assets/images/linkedin.svg" height="30"></a>
                <a title="Instagram" href="*"><img src="../assets/images/instagram.svg" height="30"></a>
                <a title="Facebook" href="*"><img src="../assets/images/facebook.svg" height="30"></a>
                <a title="Twitter" href="*"><img src="../assets/images/twitter.svg" height="30"></a>
            </div>  
            <h3>
                Copyright © 2022 Radium Rocket.  All rights reserved
            </h3>
        </footer>
    </body>
</html> 