<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="martinlotufo93@gmail.com">
        <title>"Trackgenix S.A."</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <!--<link rel="stylesheet" href="../styles/footer.css">-->
    </head>
    <body>
        <header>
            <h1>Trackgenix S.A.</h1>
        </header>
        <h2>Sign Up</h2>
        <form action="process.php" method="POST" class="mainform">
            <div class="name-area">
                <label>Name</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="main-container">
                <div class="column1">
                    <label>Last Name</label>
                    <input type="text" id="last-name" name="last-name">
                    <label>D.N.I.</label>
                    <input type="number" id="dni" name="dni">
                    <label>Date of Birth</label>
                    <input type="date" name="week" id="week">
                    <label>Phone</label>
                    <input type="tel" id="phone" name="phone">
                    <label>Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="column2">
                    <label>Location</label>
                    <input type="text" id="location" name="location">
                    <label>Postal Code</label>
                    <input type="number" id="postal-code" name="postal-code">
                    <label>E-mail</label>
                    <input type="email" id="email" name="email">
                    <label>Adress</label>
                    <input type="text" id="adress" name="adress">
                    <label>Repet Password</label>
                    <input type="password" id="re-password" name="re-password">
                </div>
            </div>
            <div class="signup-button">
                <button class= "sign-up-button" name="sign-up-button">Sign Up</button>
            </div>
        </form>
          
        <footer>
            <h3>
                Rosario, Argentina
            </h3>

            <div class="networks">
                <a title="Linkedin" href="*"><img src="../assets/images/linkedin.svg" height="30"></a>
                <a title="Instagram" href="*"><img src="../assets/images/instagram.svg" height="30"></a>
                <a title="Facebook" href="*"><img src="../assets/images/facebook.svg" height="30"></a>
                <a title="Twitter" href="*"><img src="../assets/images/twitter.svg" height="30"></a>
            </div>  
            <h3>
                Copyright © 2022 Radium Rocket.  All rights reserved
            </h3>
        </footer>
    </body>


</html> 