body{
    font-family: 'Roboto',arial;
}
.sidebar{

    width: 19%;
    height: 1024px;
    background-color: rgb(245, 241, 241);
    float:left;
    position:fixed;
    border-right:3px solid #000;

}
header{
    width: 81%;
    height: 155px;
    float:right;
    top: 0;
    background-color: white;
    display;

}
header .three-bars{
    display: inline-block;
    height: 33px;
    width: 36px;
    margin: 30px;
}
header .track{
    display: inline-block;
    font-size: 30px;
}
.green-line{
    height: 3px;
    width: 85%;
    background-color: #AACE9B;
    margin-left: 96px;
    margin-top: 10px;
}

footer{
    float:right;
    width:81%;
    height:100px;
    background-color: rgb(255, 0, 179);
    position:fixed;
    bottom:0;
}

.landing{
    float:right;
    width:81%;
    height:712px;
    background-color: aqua;
    overflow: auto;
}
.search-bar{
    position: relative;
    text-align: center;
    margin: 20px;
}
.search-button{
    position: relative;
    top: 0;
    height: 38px;
    width: 215px;
    padding-left: 57px;
    border-radius: 7px;
}
.search-icon {
    position: absolute;
    height: 30x;
    width: 30px;
    right: 263px;
    top: 6px;
    z-index: 2;
}

.menu{
    position: relative;
    height: 110px;
    font-size: 30px;
}
.menu a{
    text-decoration: none;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
    color: black;
}
.green-line-2{
    position: absolute;
    height: 5px;
    width: 85px;
    background-color: #AACE9B;
    bottom: 0px;
    margin-left: 50px;
}
.home-menu a{
    text-decoration: none;
    color: rgb(112, 106, 106);
}
.home-menu{
    height: 250px;
    position: relative;
    width: 250px;
    background-color: rgb(245, 241, 241);
    border-bottom: gray;
    margin-left: 50px;
    display: block;
}
.homes{
    height: 20px;
    width: 249px;
    position: absolute;
    margin-left: 0px;
    padding-top: 60px;
}
.sign-up{
    height: 24px;
    width: 249px;
    position: absolute;
    margin-left: 0px;
    padding-top: 119px;
}
.log-in{
    height: 24px;
    width: 249px;
    position: absolute;
    margin-left: 0px;
    padding-top: 180px;
}
.greyline{
    position: absolute;
    height: 1px;
    width: 245px;
    background-color: rgb(112, 106, 106);
    bottom: 0px;
    margin-left: 0px;
}
.getintouch{
    position: relative;
    height: 110px;
    font-size: 30px;
}
.getintouch a{
    text-decoration: none;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
    color: black;
}
.green-line-3{
    position: absolute;
    height: 5px;
    width: 180px;
    background-color: #AACE9B;
    bottom: 0px;
    margin-left: 50px;
}

.textside{
    width: 249px;
    height: 150px;
    text-align: left;
    font-size: 19px;
    margin-left: 50px;
    margin-top: 28px;
    color: gray;
}
.contact{
    position: relative;
    background-color: rgb(245, 241, 241);
    margin-left: 50px;
    width: 80%;
    height: 245px;
    display: block;
    top: 40px;

}
.contact .mail,.contact .adress,.contact .adress 
{
	display:inline-block;
	padding: 10px 0px 10px 0px;
	}
.contact .mail a,.contact .adress a,.contact .phone a{
	display:inline-block;
    text-decoration: none;
    color: gray;
	}
.contact .mail img,.contact .phone img,.contact .adress img {
	vertical-align:middle;
	margin-right:5px;
	}
.contact .adress a{
	width:200px;
	}
.contact .mail,.contact .adress {
	border-bottom: 1px solid blue
	}
.section-1{}